
:root {
  font-size: 16px;
  font-family: 'Play';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;

}

body {
  color: black;
  background-color: #FFDAE1;
  background-image: url("images/sakura.png");
/* Testing!^ */
  background-repeat: repeat;
  font-family: Century Gothic;
  /* font-family: 'Play', 'sans-serif', A; */
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.45rem; /* Was 0.25rem in video */
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

.navbar {
  /* width: 5rem; */
  height: 100vh;   /* This and above^ showed in video, but he moved it */
  position: fixed;
  background-color: var(--bg-primary);
  /* background-image: url("images/sakura.png"); */
  background-color:transparent;
  /* Testing^^^ */
  transition: width 600ms ease; /*This just said 200ms ease in video */
  /* overflow: scroll; */ /*This makes scroll bars appear in navbar. */
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.9);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

/* **************************** */

/* .navbar:hover {
  width: 16rem;
} */

/* .navbar:hover .link-text {
  display: block;
} */

/* **************************** */ /*His final file didn't have this... */

.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #df49a6;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  background-color:transparent;
  /* Testing^^ */
  font-size: 1.5rem;
  /* text-transform: uppcase; */ /*For some reason we type this twice? */
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -500px;  /*The tutorial file had -999px, I think it took too long to show up from that position.*/
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg); /*-540deg makes it spin faster */
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0; /*Can adjust top and bottom! */
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }

}

/* Large screens */
@media only screen and (min-width: 600px) {
 .navbar {
   top: 0;
   width: 5rem
   height: 100vh;
 }

 .navbar:hover {
   width: 16rem;
 }

 .navbar:hover .link-text {
   display: inline;
   /* transition: opacity var(--transition-speed); */
   /* ^^^His file doesn't have this? Even though he showed it in video. */
 }

 .navbar:hover .logo svg
 {
   margin-left:11rem;
 }

 .navbar:hover .logo-text {
   left: 0px;
 }
}

.basic-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

}

.photo-grid {
  display: grid;
  gap: 1rem;

  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 240px;
}

@media screen and (min-width: 600px) {
  .card-tall {
    grid-row: span 2 / auto;
  }

  .card-wide {
    grid-column: span 2 / auto;
  }

}
